.board{
  background-image: url("Assets/board.png");
  width: 820px;
  height: 822px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.spot{
  width: 30%;
  height: 30%;
  margin: 11px;
  float: right;
}

.piece{
  width: max-content;
  height: max-content;
  position: relative;
}